<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUCCESSFUL</title>
    <link rel="preconnect" href="~/https://fonts.googleapis.com">
    <link rel="preconnect" href="~/https://fonts.gstatic.com" crossorigin>
    <link href="~/https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/./assets/css/resetcss.css">
    <link rel="stylesheet" href="~/assets/css/container.css">
    <link rel="stylesheet" href="~/./assets/css/successstyle.css">
</head>
<body>
    <div class="container">
        <div class="bookingsuccessful-box">
            <div class="bookingsuccessfull-top">
                <div class="successimage">
                    <img src="~/./assets/images/success.png" alt="">
                </div>
                <div class="bookingtext">
                    <h1>Booking Successful</h1>
                    <p>Your ticket booking is successful. The ticket has been sent to your e-mail.</p>
                </div>
            </div>
            <div class="btn">
                <a href="~/./form.html">Book Return Ticket</a>
            </div>
        </div>
    </div>

</body>
</html>