@using Reservation.ViewModels.ReservationViewModel
@model TripVM
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FORM</title>
	<link rel="stylesheet" href="~/./assets/css/resetcss.css">
	<link rel="stylesheet" href="~/assets/css/container.css">
	<link rel="stylesheet" href="~/./assets/css/style.css">
</head>

<body>
	<div class="container">
		<div class="form-box">
			<div class="form-text">
				<h1>Travel reservation form</h1>
			</div>
			<div class="form">
				<h3>* denotes mandotory</h3>@* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
				<form asp-action="Create" asp-controller="Reservation" method="post">
					
					<label asp-for="FirstName" style="color:black">First Name*</label>
					<input asp-for="FirstName" placeholder="First Name">
					<span asp-validation-for="FirstName" style="color:red"></span>


					<label asp-for="LastName" style="color:black">Last Name*</label>
					<input asp-for="LastName" placeholder="Last Name">
					<span asp-validation-for="LastName" style="color:red"></span>

					<label asp-for="Email" style="color:black">Email Address*</label>
					<input asp-for="Email" placeholder="Email Address">
					<span asp-validation-for="Email" style="color:red"></span>

					<label asp-for="CityId" style="color:black">Select Tour Package*</label>
					<select asp-for="CityId">
						@foreach (var city in ViewBag.Cities)
						{
							<option value="@city.Id">@city.Name</option>

						}

					</select>
					<span asp-validation-for="CityId" style="color:red"></span>
					<label id="blackitems">What would you want to avail?*</label>
					<div class="checkbox">
						<div class="checkbox-row">
							<!-- <label for="boarding">Boarding</label> -->
							Boarding<input type="checkbox" asp-for="isBoarding">
						</div>
						<div class="checkbox-row">
							<!-- <label for="fooding">Fooding</label> -->
							Fooding <input type="checkbox" asp-for="isFooding">
						</div>
						<div class="checkbox-row">
							<!-- <label for="sightseeing">Sightseeing</label> -->
							Sightseeing<input type="checkbox" asp-for="isSightseeing">
						</div>
					</div>
					<label asp-for="CouponId" style="color:black">Discount Coupon Code:</label>
					<input asp-for="CouponId">

					<label for="" style="color:black">Terms and conditions*</label>
					<div id="blackitems" class="termsandconditions">
						<div>
							<label  for="agree" style="color:black">I agree</label>
							<input required type="radio" asp-for="isTermsAccepted" value="true" id="agree">
						</div>
						<div>
							<label for="disagree" style="color:black">I disagree</label>
							<input type="radio" asp-for="isTermsAccepted" value="false" id="disagree">
						</div>
					</div>

					<span asp-validation-for="isTermsAccepted" style="color:red"></span>
					<button type="submit">Complete Reservation</button>

					@* <div class="button">
						<a href="~/./success.html">Complete reservation</a>
					</div> *@
				</form>
			</div>
		</div>
	</div>
</body>

</html>